* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.shopping-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}

#js-shopping-list-form {
  margin-bottom: 15px;
}

#js-shopping-list-filter {
  overflow: hidden;
  background-color: #e9e9e9b6;
}

#js-shopping-list-filter .checkbox {
  float: left;
  margin-top: 7px;
  margin-left: 16px;
}


#js-shopping-list-filter .search {
  float: right;
}

#js-shopping-list-filter .search button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#js-shopping-list-filter .search button:hover {
  background: #ccc;
}
